body {
    background-color: #ecfff8;
    display: grid;
    grid-template-rows: 4em 2.5em 1fr 2.5em;
    height: 100vh;
}

.footer {
    align-items: center;
    background-color: #122932;
    color: #ecfff8;
    display: flex;
    font-weight: bold;
    grid-row: 4;
    justify-content: center;
}

.header {
    color: #b20d30;
    font-weight: bold;
    font-size: 3em;
    grid-row: 1;
    padding: 5px;
}

img {
    border-color: #cb9173;
    border-style: solid;
    border-width: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    body {
        grid-template-rows: 4em 7.5em 1fr 2.5em;
    }
    .navbar {
        flex-direction: column;
    }
}

.navbar {
    background-color:#122932;
    display: flex;
    grid-row: 2;
    justify-content: space-evenly;
}

.navbar>a {
    color: #ecfff8;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.navbar>a:hover {
    color:#b20d30;
}

p {
    color: #122932;
    margin: 1em;
}


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}